:root{
  --cian:cyan;
  --rojo:red;
  --amarillo:yellow;
  --verde:green;
  --naranja:orange;
  --magenta:magenta;

  --cianTransparent:rgba(0,255,255,.1);
  --rojoTransparent:rgba(255,0,0,.1);
  --amarilloTransparent:rgba(255,255,0,.1);
  --verdeTransparent: rgba(0,128,0,.1);
  --naranjaTransparent:rgba(255,165,0,.1);
  --magentaTransparent:rgba(255,0,255,.1);


}

*{
  margin: 0px;
  padding:0px;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;

}
body{
  margin: 0px;
  padding: 0px;;
}
.cubeContainter{
  padding-top: 50px;
  width: 100%;
  min-height: 100vh;
  background-color: #3d3d3d;
}
.container {
    width: 150px;
    height: 150px;
    margin: 50px auto;
    position: relative;
    perspective: 400px;
  }
  
  #cube {
    width: 100%;
    height: 100%;
    position: absolute;
    transform-style: preserve-3d;
    transition: all 2s;
    /* -webkit-transition-timing-function: linear;
    transition-timing-function: linear; */
  }
  #cube figure{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.5em;
    text-shadow: 0px 0px 2px black;
    transition: all .1s;
  }
  
  #cube figure {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    border: 2px solid white;
    cursor: pointer;
  }
  #cube figure:hover{
    background: rgba(0,0,0,.5);
    color: white;
  }
  
  #cube .back {
    background: var(--cianTransparent);
    color:var(--cian);
    transform: rotateX(180deg) translateZ(75px);
  }
  
  #cube .left {
    background:var(--rojoTransparent);
    color:var(--rojo);
    transform: rotateY(-90deg) translateZ(75px);
  }
  
  #cube .bottom {
    background: var(--amarilloTransparent);
    color:var(--amarillo);
    transform: rotateX(-90deg) translateZ(75px);
  }
  
  #cube .front {
    background: var(--verdeTransparent);
    color:var(--verde);
    transform: rotateX(0deg) translateZ(75px);
  }
  
  #cube .right {
    background: var(--naranjaTransparent);
    color: var(--naranja);
    transform: rotateY(90deg) translateZ(75px);
  }
  
  #cube .top {
    background: var(--magentaTransparent);
    color:var(--magenta);
    transform: rotateX(90deg) translateZ(75px);
  }
  p.livingry{
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 60s;
    position: absolute;
  }
  
  
  
